<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/form.css}" href="../css/form.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시글 수정</h2>
    </div>

    <!--게시글 수정 form-->
    <form th:action th:object="${postForm}" method="post">
        <div>
            <label for="title">제목</label>
            <input type="text" id="title" th:field="*{title}" class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{title}" />
           <!-- $ 사용시 오류 발생 -  <div class="field-error" th:errors="${title}" />-->
        </div>
        <div class="mb-3">
            <label for="content">내용</label>
            <textarea class="form-control" rows="5" id="content" name="content" th:value="*{content}" th:text="*{content}"></textarea>
        </div>
        <hr class="my-4">

        <button class="btn btn-primary" type="submit">수정 완료</button>

        <button class="btn btn-secondary"
                th:onclick="|location.href='@{/board/{postId}(postId=${postId})}'|"
                type="button">취소
        </button>
    </form>
</div> <!-- div class="container"-->

</body>
