<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/form.css}" href="../css/form.css" rel="stylesheet">
</head>
<body>

    <div id="wrapper">
        <div class="container">
            <div class="col-md-12">

                <div class="py-5 text-center">
                    <h2>게시판</h2>
                </div>

                <button class="btn btn-dark" th:onclick="|location.href='@{/}'|" type="button">홈 화면</button>
                <button class="btn btn-primary" th:onclick="|location.href='@{/board/register}'|" type="button">게시글 작성</button>



                <!--로그아웃-->
                <!--<div>
                    <a th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">로그아웃</a>
                   &lt;!&ndash; <a th:text="|${user.loginId}님|"></a>&ndash;&gt;
                     <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                        &lt;!&ndash; 추가적인 데이터가 있을 경우를 위해 필요한 hidden input을 추가 &ndash;&gt;
                     </form>
                </div>-->


                <!-- 로그아웃 -->
               <!-- <div class="float-right">
                    <a th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">로그아웃</a>
                    <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                        &lt;!&ndash; 추가적인 데이터가 있을 경우를 위해 필요한 hidden input을 추가 &ndash;&gt;
                    </form>
                </div>
-->

                <hr class="my-4">

                <table class="table">
                    <thead>
                    <tr>
                        <th width="10%">게시글번호</th>
                        <th width="20%">제목</th>
                        <th width="20%">작성자</th>
                        <th width="20%">작성일</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="list,index: ${resultMap.list}" th:with="paging=${resultMap.paging}">
                        <td>
                            <span th:text="${(resultMap.totalCnt - index.index) - (paging.pageNumber * paging.pageSize)}"></span>
                        </td>

                        <td>
                            <a th:href="@{/board/{postId}(postId=${list.id})}" th:text="${list.title}">제목</a>
                        </td>

                        <td th:text="${list.user.loginId}">작성자</td>
                        <td th:text="${#temporals.format(list.registerDate, 'yyyy-MM-dd HH:mm')}">작성일</td>
                    </tr>
                    </tbody>

                </table>

                <div class="row">
                    <div class="col">
                        <ul class="pagination">
                            <li class="page-item" th:if="${resultMap.totalPage} > 0" th:each="index : ${#numbers.sequence(1, resultMap.totalPage)}"
                                th:with="paging=${resultMap.paging}">
                                <a class="page-link"
                                   th:href="@{/board/(page=${index-1})}">
                                    <span th:text="${index}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>   <!-- div class="row"-->

            </div>
        </div>
    </div>  <!-- div class="wrapper"-->

</body>
