    @charset "UTF-8";

    @font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }


    .container {
        /*max-width: 560px;*/
        font-family: 'KCC-Hanbit';
    }

    .field-error {
        border-color: #dc3545;
         color: #dc3545;
    }

